
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<p>Actualmente me encuentro en la acción Index, del controlador Test. Creado en clases para mostrar
    un ejempolo en la creación de nuevas páginas/controladores/vistas, etc.</p>